@charset "utf-8";
.bar {
  color: blue; }

html {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background-color: white;
  height: 100%;
  margin: 0; }

.foo {
  color: red; }
